{{!-- <form action="" method="post">
  <div class="card">
  <div class="card-header">
    <h4>Edit New Post</h4>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-sm-8 overflow-auto">
        <label for="title" class="form-label d-block">Title New</label>
        <input type="text" class="form-control d-inline mb-3" id="title" aria-describedby="basic-addon3">
        
        <label for="basic-url" class="form-label">Tag URL</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        
        
        
        
        <div id="toolbar-container">
          <span class="ql-formats">
            <select class="ql-font"></select>
            <select class="ql-size"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-header" value="1"></button>
            <button class="ql-header" value="2"></button>
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-direction" value="rtl"></button>
            <select class="ql-align"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-video"></button>
            <button class="ql-formula"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean"></button>
          </span>
        </div>
        <div id="editor" class="h-100">
        </div>
      </div>
      <div class="col-md-4">
         <div>
          <h5>
            public
          </h5>
          Status <Span>Draft</Span> 
          Visible <span>Public</span>
          Date <span></span>
         </div>
        <div>
          <h5>
            Category
          </h5>
          <input type="checkbox" id="nocategory" name="nocategory">
          <label for="nocategory">Uncategoried</label>
          <label for="category">Category</label>
          <input type="text" id="category">
          <label for="allcategory">All Category</label>
          <select name="categories" id="categories">
            <option value="economic">Kinh tế</option>
            <option value="sport">Thể thao</option>
            <option value="science">Khoa học</option>
          </select>
        
        </div>
      </div>

    </div>

   

  </div>
  <div class="card-footer text-muted d-flex justify-content-end">
    <button type="submit" class="btn btn-outline-primary mr-3">
      <i class="bi bi-check2"></i>
       Save
    </button>
     <button type="submit" class="btn btn-outline-success">
      <i class="bi bi-check2"></i>
       Create
    </button>
    
  </div>
</div>
</form>


<!-- Initialize Quill editor -->
<script>
  const quill = new Quill('#editor', {
    modules: {
      syntax: true,
      toolbar: '#toolbar-container',
    },
    placeholder: 'Compose an epic...',
    theme: 'snow',
  });
</script> --}}



{{#section 'css'}}
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> --}}
{{!-- <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.css" rel="stylesheet"> --}}
{{!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" /> --}}
{{!-- <link href="summernote-bs5.css" rel="stylesheet">



<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" /> --}}

{{/section}}

{{#section 'js'}}
{{!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> --}}
{{!-- <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.js"></script> --}}




{{!-- <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="summernote-bs5.js"></script>

<script>
      $('#summernote').summernote({
        placeholder: 'Hello Bootstrap 5',
        tabsize: 2,
        height: 100
      });
</script>



<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/locales/LANG.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.0/js/locales/vi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.0/themes/fa4/theme.min.js"></script>
<script>
    $("#fulMain").fileinput({
      //showCaption: false, 
      dropZoneEnabled: false,
      maxFileCount: 10,
      allowedFileExtensions:["jpg", "png", "gif"],
      theme: "fa4",
      language: "vi"
      });
</script> --}}
{{/section}}

<form action="" method="post">
  <div class="card">
  <div class="card-header">
    <h4>Edit New Post</h4>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-sm-12 overflow-auto">
        <label for="title" class="form-label d-block">Title New</label>
        <input type="text" class="form-control d-inline mb-3" id="title" aria-describedby="basic-addon3" name="title">
        
        <label for="basic-url" class="form-label">Tag URL</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="urls">
        </div>

        <div class="form-group">
              <label for="fulMain">Thumnail</label>
              <input type="file" name="fulMain" id="fulMain" multiple>
        </div>


        <textarea id="summernote" name="editordata" class="h-100"></textarea>

        <div class="form-group">
            <input type="checkbox" id="nocategory" name="nocategory">
            <label for="nocategory">Uncategoried</label>
          </div>
          <div class="form-group">
            <label for="allcategory">All Category</label>
            <select name="categories" id="categories">
                {{#each this.categories}}
                <option value="{{this.CatID}}">{{this.CatName}}</option>
                {{/each}}
            </select>

          </div>
      </div>
      {{!-- <div class="col-md-4">
         <div>
          <h5>
            public
          </h5>
          Status <Span>Draft</Span> 
          Visible <span>Public</span>
          Date <span></span>
         </div>
        <div>
          <h5>
            Category
          </h5>
          

        
        </div>
      </div> --}}

    </div>

   

  </div>
  <div class="card-footer text-muted d-flex justify-content-end">
    <button type="submit" class="btn btn-outline-primary mr-3">
      <i class="bi bi-check2"></i>
       Save
    </button>
     <button type="submit" class="btn btn-outline-success">
      <i class="bi bi-check2"></i>
       Create
    </button>
    
  </div>
</div>
</form>