{{#section 'css'}}
<style>
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
</style>
{{/section}}

{{#section 'js'}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const message = document.getElementById('err_message').value;
    if (message !== "") {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: message,
      });
    }
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('frmLogin');
    form.addEventListener('submit', function (e) {
      e.preventDefault();
      const email = document.getElementById('txtEmail').value;
      const password = document.getElementById('txtPassword').value;
      const capchaResponse = grecaptcha.getResponse();

      if (email === "" || password === "") {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Email and password are required!',
        });
        return;
      }

      if (capchaResponse === "") {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Please verify that you are not a robot!',
        });
        return;
      }

      form.submit();
    });
  });
</script>
{{/section}}

<div class="login-page">
  <input type="text" id="err_message" value="{{ err_message }}" hidden>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form form id="frmLogin" action="" method="post">
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="txtEmail">Email address</label>
            <input type="email" id="txtEmail" class="form-control form-control-lg" name="email">
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="txtPassword">Password</label>
            <input type="password" id="txtPassword" class="form-control form-control-lg" name="raw_password">
          </div>

          {{!-- Capcha --}}
          <div data-mdb-input-init class="form-outline mb-4">
            <div class="g-recaptcha" data-sitekey="6LeSdKMqAAAAAC5A_FuDMc05rdJqj0yl_L37yRq2"></div>
          </div>

          {{!-- <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div> --}}

          <!-- Submit button -->
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Sign
            in</button>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <a data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" href="/auth/github" role="button">
            <i class="bi bi-github"></i> Continue with Github
          </a>
          <a data-mdb-ripple-init class="btn btn-danger btn-lg btn-block" href="/auth/google" role="button">
            <i class="bi bi-google"></i> Continue with Google
          </a>
        </form>
        <div class="register my-4">
          <p>No account? <a href="/account/register" style="color: rgb(26, 137, 23);">Create one</a></p>
          <p>Forgot password? <a href="/account/forgot-password" style="color: rgb(26, 137, 23);"> Send Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>