<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Insight News</h5>
                <!--headin5_amrc-->
                <p class="mb10">To become the leading online newspaper in Vietnam, the most reliable, in-depth
                    and fastest source of information, providing high-quality analysis of important domestic and
                    international events, trends and stories.</p>
            </div>

            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">International</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">America</a></li>
                    <li><a href="#">Asia</a></li>
                    <li><a href="#">Africa</a></li>
                    <li><a href="#">Europe</a></li>
                    <li><a href="#">Australia</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Sports</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Football</a></li>
                    <li><a href="#">Badminton</a></li>
                    <li><a href="#">Cycling</a></li>
                    <li><a href="#">Tennis</a></li>
                    <li><a href="#">Athletics</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Education</h5>
                <!--headin5_amrc ends here-->

                <ul class="footer_ul2_amrc">
                    <li><a href="#">Admission</a></li>
                    <li><a href="#">Study Abroad</a></li>
                    <li><a href="#">English</a></li>
                </ul>
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Business</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Stock market</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">NetZero</a></li>
                </ul>
            </div>

            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Entertainment</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Television</a></li>
                    <li><a href="#">Celebrity</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Technology</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Innovate</a></li>
                    <li><a href="#">Innovatives cities</a></li>
                    <li><a href="#">Work Tranformed</a></li>
                    <li><a href="#">Mission ahead</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Health</h5>
                <!--headin5_amrc ends here-->

                <ul class="footer_ul2_amrc">
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Fitness</a></li>
                    <li><a href="#">Sleep</a></li>
                    <li><a href="#">Mindfulness</a></li>
                    <li><a href="#">Relationship</a></li>
                </ul>
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Laws</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Case files</a></li>
                    <li><a href="#">Consulting</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>

            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Lifestyle</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Life Lesson</a></li>
                    <li><a href="#">Cooking</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Travel</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">Cuisine</a></li>
                    <li><a href="#">Footprints</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
            <div class=" col-sm-4 col-md  col-6 col">
            </div>

        </div>
    </div>
    <div class="container">
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2024 | Designed by <a href="#">Insight News Team</a></p>
        <!--social_footer_ul ends here-->
    </div>
</footer>