<style>
    .header {
        background-color: var(--color-white);
        box-shadow: 0 1px 2px #ddd;
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;

    }

    .header .first-bar .logo h5 {
        margin: 0;
        font-size: 30px;
        color: var(--color-red);
    }

    .header .first-bar .logo strong {
        color: var(--color-black);
        margin-right: 8px;
    }

    .header .first-bar .search {
        height: 100%;
        width: 100%;
    }

    .header .first-bar .search form {
        border-radius: 0;
        height: 100%;
    }

    .header .first-bar .search form .form-control {
        border-radius: 0;
        margin: 0 !important;
        border: 1px solid #ccc;
    }

    .header .first-bar .search form button {
        border-radius: 0;
        border: 1px solid var(--color-red);
        background-color: var(--color-red);
        width: 80px;
    }

    .header .first-bar .search form button i {
        color: var(--color-white);
    }

    .header .first-bar .search form button:hover {
        background-color: var(--color-red-dark);
    }

    .header .first-bar .search form input:focus {
        border-color: #989898;
        box-shadow: 0 1px 2px #ddd;
    }

    .header .first-bar .sign {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }

    .header .first-bar .sign .firstli {
        margin-right: 20px;
    }

    .header .first-bar .sign .nav-link {
        color: var(--color-black);
        font-size: 20px;
        font-weight: 700;
    }

    .header .first-bar .sign .nav-link i {
        margin-right: 5px;
    }

    .header .first-bar .sign .nav-link:hover {
        color: var(--color-red);
    }

    .header .menu {
        background-color: var(--color-white);
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }

    .header.nav-sticky {
        top: -100px;
    }

    .header.nav-sticky .menu {
        border-top: 0;
    }
    .header .menu ul.dropdown-menu{
        padding: 0;
        top: 45px;
    }
    .header .menu ul.dropdown-menu li a{
        width: 200px;
        height: 40px;
        line-height: 35px;
    }
    
</style>

<header class="header">
    <div class="first-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo">
                        <a href="/" class="d-flex align-items-center">
                            <img src="/imgs/newspaper.png" alt="newspaper" width="100px" height="100px">
                            <div class="title">
                                <h5><strong>Insight</strong>News</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="search">
                        <form class="d-flex align-items-center" role="search">
                            <input class="form-control me-2" type="search" placeholder="Type something here"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">
                                <i class="bi bi-search "></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 ">
                    <ul class="navbar-nav sign">
                        {{#if auth}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Hello, <b>{{authUser.Name}}</b>
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="/account/profile">
                                    <i class="bi bi-person"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="/account/update-password">
                                    <i class="bi bi-gear"></i>
                                    Change password
                                </a>
                                <div class="dropdown-divider"></div>
                                <form action="/account/logout" method="post" id="frmLogout"></form>
                                <a class="dropdown-item" href="#" id="logoutLink">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Sign out
                                </a>
                            </ul>
                        </li>
                        {{else}}
                        <li class="nav-item firstli">
                            <a class="nav-link" href="/account/register">
                                <i class="bi bi-person-plus-fill"></i>
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">
                                <i class="bi bi-person-fill"></i>
                                Login
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg menu">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>