<nav class="navbar navbar-expand-lg navbar-light top-navbar" id="header">
    <img src="/imgs/newspaper.png" alt="newspaper" width="100px" height="100px">
    <a class="logo navbar-brand" href="#"><strong style="color: #393939;">Insight</strong> News</a>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bottom-navbar">
    <button class="navbar-toggler button-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse div-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active big-screen shift-right">
                <a class="nav-link text-white bold-content" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown change-nav-item-big nav-item-father big-screen">
                <a class="nav-link dropdown-toggle text-white shift-right " href="#" role="button">
                    International
                </a>
                <div class="dropdown-menu dropdown-bigscreen">
                    <a class="dropdown-item bold-content" href="#">America</a>
                    <a class="dropdown-item bold-content" href="#">Asia</a>
                    {{!-- <div class="dropdown-divider"></div> --}}
                    <a class="dropdown-item bold-content" href="#">Africa</a>
                    <a class="dropdown-item bold-content" href="#">Europe</a>
                    <a class="dropdown-item bold-content" href="#">Australia</a>
                </div>
            </li>
            <li class="nav-item dropdown change-nav-item-big nav-item-father big-screen">
                <a class="nav-link dropdown-toggle text-white shift-right" href="#" role="button">
                    Sports
                </a>
                <div class="dropdown-menu dropdown-bigscreen">
                    <a class="dropdown-item bold-content" href="#">Football</a>
                    <a class="dropdown-item bold-content" href="#">Badminton</a>
                    {{!-- <div class="dropdown-divider"></div> --}}
                    <a class="dropdown-item bold-content" href="#">Cycling</a>
                    <a class="dropdown-item bold-content" href="#">Tennis</a>
                    <a class="dropdown-item bold-content" href="#">Athletics</a>
                </div>
            </li>
            <li class="nav-item dropdown change-nav-item-big nav-item-father big-screen">
                <a class="nav-link dropdown-toggle text-white shift-right " href="#" role="button">
                    Education
                </a>
                <div class="dropdown-menu dropdown-bigscreen">
                    <a class="dropdown-item bold-content" href="#">Admission</a>
                    <a class="dropdown-item bold-content" href="#">Study Abroad</a>
                    {{!-- <div class="dropdown-divider"></div> --}}
                    <a class="dropdown-item bold-content" href="#">English</a>
                </div>
            </li>
            <li class="nav-item dropdown change-nav-item-big nav-item-father big-screen">
                <a class="nav-link dropdown-toggle text-white shift-right" href="#" role="button">
                    Business
                </a>
                <div class="dropdown-menu dropdown-bigscreen">
                    <a class="dropdown-item bold-content" href="#">Stock market</a>
                    <a class="dropdown-item bold-content" href="#">Company</a>
                    {{!-- <div class="dropdown-divider"></div> --}}
                    <a class="dropdown-item bold-content" href="#">NetZero</a>
                </div>
            </li>
            <li class="nav-item dropdown change-nav-item-big nav-item-father big-screen">
                <a class="nav-link dropdown-toggle text-white shift-right" href="#" role="button">
                    Entertainment
                </a>
                <div class="dropdown-menu dropdown-bigscreen">
                    <a class="dropdown-item bold-content" href="#">Movies</a>
                    <a class="dropdown-item bold-content" href="#">Television</a>
                    {{!-- <div class="dropdown-divider"></div> --}}
                    <a class="dropdown-item bold-content" href="#">Celebrity</a>
                </div>
            </li>
            <li class="nav-item dropdown change-nav-item-big nav-item-father-six big-screen">
                <a class="nav-link dropdown-toggle text-white shift-right" href="#" role="button">
                    More
                </a>
                <div class="dropdown-menu son-menu-father-six">


                    {{!-- <a class="nav-link dropdown-toggle inline-text son-a-menu-father-six" href="#"
                        role="button">Technology</a>
                    <div class="dropdown-menu son-menu-six">
                        <a class="dropdown-item bold-content" href="#">Innovate</a>
                        <a class="dropdown-item bold-content" href="#">Innovaties cities</a>
                        <a class="dropdown-item bold-content" href="#">Work Transformed</a>
                        <a class="dropdown-item bold-content" href="#">Mission: ahead</a>
                    </div> --}}
                    <div class="nav-item dropright son-son-menu-father-six">
                        <a class="nav-link dropdown-toggle inline-text son-a-menu-father-six" href="#"
                            role="button">Technology</a>
                        <div class="dropdown-menu son-menu-six">
                            <a class="dropdown-item bold-content" href="#">Innovate</a>
                            <a class="dropdown-item bold-content" href="#">Innovaties cities</a>
                            <a class="dropdown-item bold-content" href="#">Work Transformed</a>
                            <a class="dropdown-item bold-content" href="#">Mission: ahead</a>
                        </div>
                    </div>
                    <div class="nav-item dropright son-son-menu-father-six">
                        <a class="nav-link dropdown-toggle inline-text son-a-menu-father-six" href="#" role="button">
                            Health
                        </a>
                        <div class="dropdown-menu son-menu-six">
                            <a class="dropdown-item bold-content" href="#">Food</a>
                            <a class="dropdown-item bold-content" href="#">Fitness</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item bold-content" href="#">Sleep</a>
                            <a class="dropdown-item bold-content" href="#">Mindfulness</a>
                            <a class="dropdown-item bold-content" href="#">Relationship</a>
                        </div>
                    </div>
                    <div class="nav-item dropright son-son-menu-father-six">
                        <a class="nav-link dropdown-toggle inline-text son-a-menu-father-six" href="#" role="button">
                            Laws
                        </a>
                        <div class="dropdown-menu son-menu-six">
                            <a class="dropdown-item bold-content" href="#">Case files</a>
                            <a class="dropdown-item bold-content" href="#">Consulting</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item bold-content" href="#">Blog</a>
                        </div>
                    </div>
                    <div class="nav-item dropright son-son-menu-father-six">
                        <a class="nav-link dropdown-toggle inline-text son-a-menu-father-six" href="#" role="button">
                            Lifestyle
                        </a>
                        <div class="dropdown-menu son-menu-six">
                            <a class="dropdown-item bold-content" href="#">Home</a>
                            <a class="dropdown-item bold-content" href="#">Life Lesson</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item bold-content" href="#">Cooking</a>
                        </div>
                    </div>
                    <div class="nav-item dropright son-son-menu-father-six">
                        <a class="nav-link dropdown-toggle inline-text son-a-menu-father-six" href="#" role="button">
                            Travel
                        </a>
                        <div class="dropdown-menu son-menu-six">
                            <a class="dropdown-item bold-content" href="#">Destination</a>
                            <a class="dropdown-item bold-content" href="#">Cuisine</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item bold-content" href="#">Footprints</a>
                            <a class="dropdown-item bold-content" href="#">Blog</a>
                        </div>
                    </div>
                </div>
            </li>

            {{!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li> --}}
        </ul>
    </div>
    {{!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
</nav>