<style>
    .text-uppercase {
        font-size: 14px;
    }
</style>
<div class="row g-4">
    <div class="col-12">
        <div class="p-3 rounded border">
            <h4 class="my-4">Bài viết cùng chuyên mục</h4>
            <div class="row g-4">
                <div class="col-12">
                    <div class="rounded overflow-hidden">
                        <img src="/imgs/news-3.jpg" class="img-fluid rounded img-zoomin w-100" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <a href="#" class="h4 mb-2">Get the best speak market, news.</a>
                        <p class="fs-5 mb-0"><i class="fa fa-clock"> 06 minute read</i> </p>
                        <p class="fs-5 mb-0"><i class="fa fa-eye"> 3.5k Views</i></p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-5">
                            <div class="overflow-hidden rounded">
                                <img src="/imgs/news-3.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="features-content d-flex flex-column">
                                <a href="#" class="h6">Get the best speak market, news.</a>
                                <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                <small><i class="fa fa-eye"> 3.5k Views</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-5">
                            <div class="overflow-hidden rounded">
                                <img src="/imgs/news-4.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="features-content d-flex flex-column">
                                <a href="#" class="h6">Get the best speak market, news.</a>
                                <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                <small><i class="fa fa-eye"> 3.5k Views</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-5">
                            <div class="overflow-hidden rounded">
                                <img src="/imgs/news-5.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="features-content d-flex flex-column">
                                <a href="#" class="h6">Get the best speak market, news.</a>
                                <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                <small><i class="fa fa-eye"> 3.5k Views</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-5">
                            <div class="overflow-hidden rounded">
                                <img src="/imgs/news-6.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="features-content d-flex flex-column">
                                <a href="#" class="h6">Get the best speak market, news.</a>
                                <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                <small><i class="fa fa-eye"> 3.5k Views</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-5">
                            <div class="overflow-hidden rounded">
                                <img src="/imgs/news-7.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="features-content d-flex flex-column">
                                <a href="#" class="h6">Get the best speak market, news.</a>
                                <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                <small><i class="fa fa-eye"> 3.5k Views</i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-5">
                            <div class="overflow-hidden rounded">
                                <img src="/imgs/news-7.jpg" class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="features-content d-flex flex-column">
                                <a href="#" class="h6">Get the best speak market, news.</a>
                                <small><i class="fa fa-clock"> 06 minute read</i> </small>
                                <small><i class="fa fa-eye"> 3.5k Views</i></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 my-4">
                <div class="col-lg-12">
                    <a href="#" class="link-hover btn border rounded-pill text-dark w-100 py-3 mb-4">View
                        More</a>
                </div>
            </div>
        </div>
    </div>
</div>