<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      {{!-- Navbar --}}
    
    <nav class="navbar navbar-expand-lg navbar-light top-navbar">
        <img src="imgs/newspaper.png" alt="newspaper" width="100px" height="100px">
        <a class="logo navbar-brand" href="#"><strong style="color: #393939;">Insight</strong> News</a>
    </nav>
    
    <nav class="navbar navbar-expand-lg navbar-light bottom-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        International
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">America</a>
                        <a class="dropdown-item" href="#">Asia</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Africa</a>
                        <a class="dropdown-item" href="#">Europe</a>
                        <a class="dropdown-item" href="#">Australia</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Sports
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Football</a>
                        <a class="dropdown-item" href="#">Badminton</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Cycling</a>
                        <a class="dropdown-item" href="#">Tennis</a>
                        <a class="dropdown-item" href="#">Athletics</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Education
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Admission</a>
                        <a class="dropdown-item" href="#">Study Abroad</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">English</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Business
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Stock market</a>
                        <a class="dropdown-item" href="#">Company</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">NetZero</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Entertainment
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Movies</a>
                        <a class="dropdown-item" href="#">Television</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Celebrity</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Technology
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Innovate</a>
                        <a class="dropdown-item" href="#">Innovaties cities</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Work Transformed</a>
                        <a class="dropdown-item" href="#">Mission: ahead</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Health
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Food</a>
                        <a class="dropdown-item" href="#">Fitness</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Sleep</a>
                        <a class="dropdown-item" href="#">Mindfulness</a>
                        <a class="dropdown-item" href="#">Relationship</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Laws
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Case files</a>
                        <a class="dropdown-item" href="#">Consulting</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Blog</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Lifestyle
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Home</a>
                        <a class="dropdown-item" href="#">Life Lesson</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Cooking</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Travel
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Destination</a>
                        <a class="dropdown-item" href="#">Cuisine</a>
                        {{!-- <div class="dropdown-divider"></div> --}}
                        <a class="dropdown-item" href="#">Footprints</a>
                        <a class="dropdown-item" href="#">Blog</a>
                    </div>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> --}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    {{{body}}}
    
    
    {{!-- Footer --}}
    
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>