<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
    <div class="container">

        {{!-- Navbar --}}

        <nav class="navbar navbar-expand-lg navbar-light top-navbar">
            <img src="imgs/newspaper.png" alt="newspaper" width="100px" height="100px">
            <a class="logo navbar-brand" href="#"><strong style="color: #393939;">Insight</strong> News</a>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bottom-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            International
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">America</a>
                            <a class="dropdown-item" href="#">Asia</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Africa</a>
                            <a class="dropdown-item" href="#">Europe</a>
                            <a class="dropdown-item" href="#">Australia</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Sports
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Football</a>
                            <a class="dropdown-item" href="#">Badminton</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Cycling</a>
                            <a class="dropdown-item" href="#">Tennis</a>
                            <a class="dropdown-item" href="#">Athletics</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Education
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Admission</a>
                            <a class="dropdown-item" href="#">Study Abroad</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Business
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Stock market</a>
                            <a class="dropdown-item" href="#">Company</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">NetZero</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Entertainment
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Movies</a>
                            <a class="dropdown-item" href="#">Television</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Celebrity</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Technology
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Innovate</a>
                            <a class="dropdown-item" href="#">Innovaties cities</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Work Transformed</a>
                            <a class="dropdown-item" href="#">Mission: ahead</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Health
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Food</a>
                            <a class="dropdown-item" href="#">Fitness</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Sleep</a>
                            <a class="dropdown-item" href="#">Mindfulness</a>
                            <a class="dropdown-item" href="#">Relationship</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Laws
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Case files</a>
                            <a class="dropdown-item" href="#">Consulting</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Blog</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Lifestyle
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Home</a>
                            <a class="dropdown-item" href="#">Life Lesson</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Cooking</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Travel
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Destination</a>
                            <a class="dropdown-item" href="#">Cuisine</a>
                            {{!-- <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item" href="#">Footprints</a>
                            <a class="dropdown-item" href="#">Blog</a>
                        </div>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> --}}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        {{{body}}}


        {{!-- Footer --}}
        <!--footer starts from here-->
        <footer class="footer">
            <div class="container bottom_border">
                <div class="row">
                    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Insight News</h5>
                        <!--headin5_amrc-->
                        <p class="mb10">To become the leading online newspaper in Vietnam, the most reliable, in-depth
                            and fastest source of information, providing high-quality analysis of important domestic and
                            international events, trends and stories.</p>
                        <p><i class="fa fa-location-arrow"></i> Thủ Đức, Ho Chi Minh City, Vietnam </p>
                        <p><i class="fa fa-phone"></i> +81-123456789 </p>
                        <p><i class="fa fa fa-envelope"></i> insightnews@gmail.com </p>
                    </div>

                    <div class=" col-sm-4 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">International</h5>
                        <!--headin5_amrc-->
                        <ul class="footer_ul_amrc">
                            <li><a href="http://webenlance.com">America</a></li>
                            <li><a href="http://webenlance.com">Asia</a></li>
                            <li><a href="http://webenlance.com">Africa</a></li>
                            <li><a href="http://webenlance.com">Europe</a></li>
                            <li><a href="http://webenlance.com">Australia</a></li>
                        </ul>
                        <!--footer_ul_amrc ends here-->
                    </div>


                    <div class=" col-sm-4 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Sports</h5>
                        <!--headin5_amrc-->
                        <ul class="footer_ul_amrc">
                            <li><a href="http://webenlance.com">Football</a></li>
                            <li><a href="http://webenlance.com">Badminton</a></li>
                            <li><a href="http://webenlance.com">Cycling</a></li>
                            <li><a href="http://webenlance.com">Tennis</a></li>
                            <li><a href="http://webenlance.com">Athletics</a></li>
                        </ul>
                        <!--footer_ul_amrc ends here-->
                    </div>


                    <div class=" col-sm-4 col-md  col-12 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                        <!--headin5_amrc ends here-->

                        <ul class="footer_ul2_amrc">
                            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Lorem Ipsum is simply dummy text of the printing...<a
                                        href="#">https://www.lipsum.com/</a></p>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Lorem Ipsum is simply dummy text of the printing...<a
                                        href="#">https://www.lipsum.com/</a></p>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Lorem Ipsum is simply dummy text of the printing...<a
                                        href="#">https://www.lipsum.com/</a></p>
                            </li>
                        </ul>
                        <!--footer_ul2_amrc ends here-->
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="container">
                <ul class="foote_bottom_ul_amrc">
                    <li><a href="http://webenlance.com">Home</a></li>
                    <li><a href="http://webenlance.com">About</a></li>
                    <li><a href="http://webenlance.com">Services</a></li>
                    <li><a href="http://webenlance.com">Pricing</a></li>
                    <li><a href="http://webenlance.com">Blog</a></li>
                    <li><a href="http://webenlance.com">Contact</a></li>
                </ul>
                <!--foote_bottom_ul_amrc ends here-->
                <p class="text-center">Copyright @2017 | Designed With by <a href="#">Insight News</a></p>
                <!--social_footer_ul ends here-->
            </div>

        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</body>

</html>