<div class="container mt-4">
    <h3 class="mb-3">Global Journeys</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="path-to-image-1.jpg" class="card-img-top" alt="Secret World">
                <div class="card-body">
                    <h5 class="card-title">The secret world of Europe's largest hippie commune</h5>
                    <p class="card-text">13 Apr 2022 | Spirituality</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="path-to-image-2.jpg" class="card-img-top" alt="Amish Holiday">
                <div class="card-body">
                    <h5 class="card-title">Where the Amish go on holiday</h5>
                    <p class="card-text">9 Nov 2023 | Photography</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="path-to-image-3.jpg" class="card-img-top" alt="Australians Barefoot">
                <div class="card-body">
                    <h5 class="card-title">Why Australians love going barefoot</h5>
                    <p class="card-text">24 Feb 2022 | Travel</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="path-to-image-4.jpg" class="card-img-top" alt="Zanzibar Oceans">
                <div class="card-body">
                    <h5 class="card-title">The spongy creatures cleaning Zanzibar's oceans</h5>
                    <p class="card-text">18 Jan 2024 | Sustainable Business</p>
                </div>
            </div>
        </div>
    </div>
</div>