<style>
    .btn {
        font-weight: 600;
        transition: .5s;
    }

    .btn-square {
        width: 32px;
        height: 32px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
    }

    .link-hover {
        transition: 0.5s;
    }

    .link-hover:hover {
        color: var(--color-red) !important;
    }

    .img-zoomin {
        transition: 0.5s;
    }

    .img-zoomin:hover {
        transform: scale(1.1);
    }
</style>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-8">
                {{> newsdetail/newscontent}}
                {{> newsdetail/comment}}
            </div>
            <div class="col-lg-4">
                {{> newsdetail/recommendation}}
            </div>
        </div>
    </div>
</div>