/* .container {
    max-width: 95%;
} */



.header {
    background-color: var(--color-white);
    box-shadow: 0 1px 2px #ddd;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

}

.header .first-bar .logo h5 {
    margin: 0;
    font-size: 30px;
    color: var(--color-red);
}

.header .first-bar .logo strong {
    color: var(--color-black);
    margin-right: 8px;
}

.header .first-bar .search {
    height: 100%;
    width: 100%;
}

.header .first-bar .search form {
    border-radius: 0;
    height: 100%;
}

.header .first-bar .search form .form-control {
    border-radius: 0;
    margin: 0 !important;
    border: 1px solid #ccc;
}

.header .first-bar .search form button {
    border-radius: 0;
    border: 1px solid var(--color-red);
    background-color: var(--color-red);
    width: 80px;
}

.header .first-bar .search form button i {
    color: var(--color-white);
}

.header .first-bar .search form button:hover {
    background-color: var(--color-red-dark);
}

.header .first-bar .search form input:focus {
    border-color: #989898;
    box-shadow: 0 1px 2px #ddd;
}

.header .first-bar .sign {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.header .first-bar .sign .firstli {
    margin-right: 20px;
}

.header .first-bar .sign .nav-link {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
}

.header .first-bar .sign .nav-link i {
    margin-right: 5px;
}

.header .first-bar .sign .nav-link:hover {
    color: var(--color-red);
}
.header .first-bar .sign .nav-link:focus {
    color: var(--color-red);
}
.header .menu {
    background-color: var(--color-white);
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.header .menu .scroll-action{
    display: none;
}

.header.nav-sticky {
    top: -100px;
}

.header.nav-sticky .menu {
    border-top: 0;
}
.header.nav-sticky .menu .scroll-action{
    display: block;
}
.header .first-bar ul.sign,
.header .menu ul.dropdown-menu {
    padding: 0;
    top: 45px;
    border-radius: 0;
}
.header .first-bar ul.sign li a.dropdown-item,
.header .menu ul.dropdown-menu li a {
    width: 200px;
    height: 40px;
    line-height: 35px;
}
.header .first-bar ul.sign li a.dropdown-item:hover,
.header .menu ul.dropdown-menu li a:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}
.header .menu ul.dropdown-menu li a:focus {
    background-color: var(--color-red);
    color: var(--color-white);
}
.header .menu li .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.header .menu li.nav-item {
    margin-right: 20px;
}

.header .menu li.nav-item a.nav-link {
    position: relative;
}

.header .menu li.nav-item a.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    /* Bắt đầu từ 0 */
    height: 2px;
    background-color: var(--color-red);
    transition: width 0.3s ease;
    /* Tạo hiệu ứng mượt */
}

.header .menu li.nav-item a.nav-link:hover::after {
    width: 100%;
    /* Khi hover, mở rộng full chiều rộng */
}

.header .menu li.nav-item a.nav-link:focus::after {
    width: 100%;
    /* Khi hover, mở rộng full chiều rộng */
}
.header .menu li.more ul.dropdown-menu{
    top: 0px;
    left: 197px;
}
/* .header .menu li.more ul.dropdown-menu */

.hotnews .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*** Footer Start ***/
.footer .link:hover{
    text-decoration: underline;
}
.footer .link{
    text-decoration: none;
}

/*** Footer End ***/

.navbar-user .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-user .logo img {
    display: block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.navbar-user .logo h5 {
    margin: 0;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: var(--color-red);
}

.navbar-user .logo h5 strong {
    margin-right: 8px;
    color: #393939
}
