.container {
    max-width: 95%;
}

.navbar {
    display: inline-block;
    width: 100%;

}

.navbar-light .navbar-brand.logo {
    color: #F65050 !important;
}

.logo {
    color: #F65050;
}

.bottom-navbar {
    background-color: #393939;
}

.bottom-navbar li {
    color: white !important;
}

