<div class="catnews">
    <div class="row my-4">
        <div class="col-md-2">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 120px; height: 120px;">
            </div>
        </div>
        <div class="col-md-9" style="border-bottom: 1px solid #000;">
            <div class="card-body">
                <h5 class="card-title">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His Voters</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</h6>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 120px; height: 120px;">
            </div>
        </div>
        <div class="col-md-9" style="border-bottom: 1px solid #000;">
            <div class="card-body">
                <h5 class="card-title">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His Voters</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</h6>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 120px; height: 120px;">
            </div>
        </div>
        <div class="col-md-9" style="border-bottom: 1px solid #000;">
            <div class="card-body">
                <h5 class="card-title">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His Voters</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</h6>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 120px; height: 120px;">
            </div>
        </div>
        <div class="col-md-9" style="border-bottom: 1px solid #000;">
            <div class="card-body">
                <h5 class="card-title">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His Voters</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</h6>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
</div>