<style>
    .catnews .card-title {
        font-weight: bold;
        font-size: 1.5em;
    }

    .catnews .card-body {
        min-height: 300px;
        /* Adjust the height as needed */
    }
</style>
<div class="catnews">
    <div class="row">
        <div class="col-12">
            <div class="top">
                <h3 class="md-3">Just another news</h3>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-3">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 350px; height: 250px;">
            </div>
        </div>
        <div class="col-md-8" style="border-bottom: 1px solid #727272;">
            <div class="card-body">
                <a class="card-title" href="#">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His
                    Voters</a>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</p>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 350px; height: 250px;">
            </div>
        </div>
        <div class="col-md-8" style="border-bottom: 1px solid #727272;">
            <div class="card-body">
                <a class="card-title" href="#">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His
                    Voters</a>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</p>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 350px; height: 250px;">
            </div>
        </div>
        <div class="col-md-8" style="border-bottom: 1px solid #727272;">
            <div class="card-body">
                <a class="card-title" href="#">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His
                    Voters</a>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</p>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            <div class="card-body">
                <img src="/static/imgs/hotnews/trump1.jpg" class="img-fluid" alt="Img Dead"
                    style="width: 350px; height: 250px;">
            </div>
        </div>
        <div class="col-md-8" style="border-bottom: 1px solid #727272;">
            <div class="card-body">
                <a class="card-title" href="#">Trump’s Cabinet Picks, Panned in Washington, Thrill Many of His
                    Voters</a>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium beatae
                    quae a, expedita
                    cumque voluptates esse voluptas eligendi fugit saepe obcaecati, distinctio quidem maxime quia
                    tempore possimus, fuga deserunt!</p>
                <p class="card-text">13 Apr 2022 | America</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card-body">
                <p class="card-text">1 Day ago</p>
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>