  <div class="card">
    <div class="card-header">
      <h4>Reject Reason</h4>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-sm-12 overflow-auto">
          <label for="name" class="form-label d-block">Name Editor</label>
          <input type="text" class="form-control d-inline mb-3" id="name" aria-describedby="basic-addon3"value="{{this.editor.Name}}" required readonly>
          <label for="reason" class="form-label d-block">Reason</label>
          <textarea id="reason" class="form-control w-100" rows="15" style="height: 100vh;" required readonly>{{{this.reject.Reason}}}</textarea>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a href="/reporter/category?account=5" class="btn btn-outline-primary">
        <i class="bi bi-arrow-left"></i>
        Back
      </a>
    </div>
  </div>