{{#section 'css'}}
<style>
    .table td {
        padding: 1.5rem 0.75rem;
    }

    .table td.col-4 {
        padding-left: 3rem;
    }
</style>
{{/section}}
{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const frmEdit = document.getElementById('frmEdit');
        const saveButton = document.querySelector('#saveButton');

        saveButton.addEventListener('click', async function (e) {
            e.preventDefault();
            const catName = document.getElementById('categoryName').value;
            const CatParentID = document.getElementById('categoryParent').value;

            try {
                const response1 = await fetch(`/admin/categories/is-available?catName=${catName}&CatParentId=${CatParentID}`);
                const data1 = await response1.json();

                if (!data1) {
                    Swal.fire("ERROR", "This category already exists", "error");
                } else {
                    Swal.fire({
                        title: "Do you really want to continue?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        reverseButtons: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            frmEdit.action = '/admin/categories/add';
                            frmEdit.submit();
                        }
                    });
                }
            } catch (error) {
                Swal.fire("ERROR", error, "error");
                console.error(error);
            }
        });

        frmEdit.addEventListener('submit', async function (e) {
            e.preventDefault();
            const catId = document.getElementById('categoryId').value;

            try {
                const response = await fetch(`/admin/categories/is-using?catid=${catId}`);
                const data = await response.json();
                console.log(data);

                if (!data) {
                    Swal.fire("ERROR", "This category is being used", "error");
                } else {
                    frmEdit.submit();
                }
            } catch (error) {
                Swal.fire("ERROR", error, "error");
                console.error(error);
            }
        });
    });
</script>
{{/section}}

<div class="main">
<form action="" method="post" id="frmEdit">
    <main class="content px-3 py-4">
        <div class="container-fluid">
            <div class="mb-3">
                <div class="row">
                    <h3 class="fw-bold fs-4 my-3">Add new Category</h3>
                </div>
                <div class="info">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="col-4">
                                    <label for="categoryName" class="form-label">Category Name</label>
                                </td>
                                <td class="col-8">
                                    <input type="text" class="form-control" id="categoryName" name="categoryName"
                                        placeholder="Enter category name" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-4">
                                    <label for="categoryParent" class="form-label">Select parent category</label>
                                </td>
                                <td class="col-8">
                                    <select class="form-select" id="categoryParent" name="categoryParent">
                                        <option value="Null" selected>No Parent</option>
                                        {{#each this.listCat}}
                                        <option value="{{this.CatID}}">{{this.CatName}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-2" id="saveButton">
                        <i class="bi bi-floppy"></i>
                            Save    
                        </button>
                        <a href="/admin/categories" class="btn btn-secondary">
                            <i class="bi bi-arrow-bar-left"></i>
                            Go Back
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </form>

</div>