{{#section 'css'}}
<style>
    .intro {
        height: 100%;
    }

    .list-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .list-title a {
        height: 40px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: normal;
        padding: 10px 20px;
    }

    .btn-sm {
        font-size: 0.875rem;
        /* Adjust the font size to match the button size */
    }

    table td,
    table th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    tbody td {
        font-weight: 500;
        color: #999999;
    }
</style>
{{/section}}

<div class="main">
    <nav class="navbar navbar-expand px-4 py-3">
        <form action="#" class="d-none d-sm-inline-block">

        </form>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="/imgs/account.png" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">

                    </div>s
                </li>
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-4">
        <div class="container-fluid">
            <div class="mb-3">
                <h3 class="fw-bold fs-4 mb-3">Categories DashBoard</h3>
                <div class="row">
                    <div class="col-12 col-md-4 ">
                        <div class="card border-0">
                            <div class="card-body py-4">
                                <h5 class="mb-2 fw-bold">
                                    Memebers Progress
                                </h5>
                                <p class="mb-2 fw-bold">
                                    $72,540
                                </p>
                                <div class="mb-0">
                                    <span class="badge text-success me-2">
                                        +9.0%
                                    </span>
                                    <span class=" fw-bold">
                                        Since Last Month
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <div class="card  border-0">
                            <div class="card-body py-4">
                                <h5 class="mb-2 fw-bold">
                                    Memebers Progress
                                </h5>
                                <p class="mb-2 fw-bold">
                                    $72,540
                                </p>
                                <div class="mb-0">
                                    <span class="badge text-success me-2">
                                        +9.0%
                                    </span>
                                    <span class="fw-bold">
                                        Since Last Month
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <div class="card border-0">
                            <div class="card-body py-4">
                                <h5 class="mb-2 fw-bold">
                                    Memebers Progress
                                </h5>
                                <p class="mb-2 fw-bold">
                                    $72,540
                                </p>
                                <div class="mb-0">
                                    <span class="badge text-success me-2">
                                        +9.0%
                                    </span>
                                    <span class="fw-bold">
                                        Since Last Month
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-title">
                    <h3 class="fw-bold fs-4 my-3">Danh sách Category</h3>
                    <a href="/admin/categories/add" class="btn btn-primary btn-sm" role="button">Add</a>
                </div>

                <div class="row">
                    <div class="col-12">
                        <section class="intro">
                            <div class="h-100">
                                <div class="mask d-flex align-items-center h-100">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                <div class="table-responsive bg-white">
                                                    <table class="table mb-0 table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Category</th>
                                                                <th scope="col">Parent</th>
                                                                <th>&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each this.listCat}}
                                                            <tr>
                                                                <th scope="row" style="color: #666666;">{{CatID}}</th>
                                                                <td>{{CatName}}</td>
                                                                <td>{{CatParentName}}</td>
                                                                <td class="text-right">
                                                                    <a class="btn btn-sm btn-outline-primary"
                                                                        href="/admin/categories/edit?id={{CatID}}"
                                                                        role="button">
                                                                        <i class="bi bi-pencil-square"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>