{{#section 'css'}}
<style>
    .table td {
        padding: 1.5rem 0.75rem;
    }

    .table td.col-4 {
        padding-left: 3rem;
    }
</style>
{{/section}}

<div class="main">
<form action="" method="post">
    <main class="content px-3 py-4">
        <div class="container-fluid">
            <div class="mb-3">
                <div class="row">
                    <h3 class="fw-bold fs-4 my-3">Add new Category</h3>
                </div>
                <div class="info">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="col-4">
                                    <label for="categoryName" class="form-label">Category Name</label>
                                </td>
                                <td class="col-8">
                                    <input type="text" class="form-control" id="categoryName" name="categoryName"
                                        placeholder="Enter category name">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-4">
                                    <label for="categoryParent" class="form-label">Parent </label>
                                </td>
                                <td class="col-8">
                                    <select class="form-select" id="categoryParent" name="categoryParent">
                                        <option value="" disabled selected hidden>Select parent category</option>
                                        <option value="Null">No Parent</option>
                                        {{#each this.listCat}}
                                        <option value="{{this.CatID}}">{{this.CatName}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-2">
                        <i class="bi bi-floppy"></i>
                            Save    
                        </button>
                        <a href="/admin/categories" class="btn btn-secondary">
                            <i class="bi bi-arrow-bar-left"></i>
                            Go Back
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </form>

</div>